@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #F4F4F4;
}

.navbar-default {
  background-color: #333333;
  color: #fff;
  border: none;
  border-radius: 0;

  .navbar-brand, a {
    color: #fff;
  }
}

.bs-site-thumbnail {
  position: relative;
  border: 8px solid #fff;
  margin-bottom: 15px;

  img {
    width: 100%;
  }
}

.bs-direct-link {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: #ccc;
  color: #fff;
  font-size: 2em;
  padding: 2px 8px;
}

.bs-site-thumbnail:hover .bs-direct-link {
  display: block;
}

.bs-tags {
  margin-bottom: 15px;

  a {
    color: #fff;
  }
}

.bs-full-length-preview {
  border: 8px solid #fff;
  margin-bottom: 15px;

  img {
    width: 100%;
  }
}

.bs-pagination {
  text-align: center;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ccc;

  p {
    margin: 0;
  }
}

