<div class="col-lg-3">
  <div class="bs-site-thumbnail">
    <%= link_to site_path(id: site.url_slug || site.id), title: site.title do %>
      <%= image_tag site.screenshot.url(:thumb), alt: site.title %>
    <% end %>

    <%= link_to site.url, title: "Go to #{site.url}", class: 'bs-direct-link', target: '_blank' do %>
      <span class="fa fa-link"></span>
    <% end %>
  </div>
</div>
